

/* Styles for side menu */
#leftCatContainer {
  background-color: #f4f6f8;
  border-right: 1px solid #ddd;
  padding: 15px;
}

.category-block {
  margin-bottom: 20px;
}

.side-nav-base {
  height: 100%;
}

#fixed-category {
  list-style-type: none;
  padding: 15px;
}

#fixed-category li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;

}

#fixed-category li a {
  text-decoration: none;
  color: #333;
  display: block;
  border: 1px;
  border-color: aquamarine;
}

#fixed-category li a:hover {
  color: #048061;
}

/* Styles for right container */
#rightContainer {
  padding: 15px;
  background-color: #f4f6f8;
  border-left: 1px solid #ddd;
}

.promotion_banners {
  margin-bottom: 20px;
}

.banner-items {
  margin-bottom: 10px;
}

.close-banner {
  display: block;
  margin-top: 10px;
  text-align: right;
  color: #999999;
}

.grid-layout {
  margin-top: 70px;
}

.grid-content-col {
  margin-bottom: 20px;
}

.grid-content-col header {
  margin-bottom: 10px;
}

.grid-content-col h5 {
  margin-bottom: 5px;
  color: #398403;
}

.grid-content-col a {
  text-decoration: #333;
  display: block;
  text-align: center;
}

.grid-content-col a:hover {
  color: #85dd65;
}

.more-col {
  margin-top: 20px;
}

.more-cate-title {
  margin-bottom: 10px;
}





